.filters {
    display: flex;
    gap: 1rem;
    padding-top:1.5rem;
    width: 90%;
}
.form{
    position: relative;
    height: 50px;
    width: 30%;
    max-width: 30%;
}

.form .search{
    position: absolute;
    /* top:20px;
    left: 20px; */
    color: #9ca3af;

}
.btn ,.focusbtn{
    border:none;
    background-color: transparent;
    border-radius: 5px;
  padding: 0.5rem;
  width: fit-content;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover{
    background-color:#d1d5db
}
.focusbtn {
    color: #c291e2;
}
.basic-multi-select {
    width: 40%;
    max-width: 40%;
}
.dateInput {
    height: fit-content;
    display: flex;
}
.cancelBtn {
    height:fit-content;
    border-width: 1px;
    border-left: none;
}
input[type="date"]:in-range::-webkit-datetime-edit-year-field, 
input[type="date"]:in-range::-webkit-datetime-edit-month-field, 
input[type="date"]:in-range::-webkit-datetime-edit-day-field, 
input[type="date"]:in-range::-webkit-datetime-edit-text { 	
    color: transparent; 
}
